<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo de primera contraseña</title>
    <style>
        /* aqui se injecta el css */
        /* {{EmailStyles}} */
    </style>
</head>
<body>

    <!-- Contenedor Principal del Correo -->
    <div class="email-container">

        <!-- Contenido del Correo -->
        <div class="email-content">

            <!-- Encabezado -->
            <div class="email-header">
                <h1>{SenderCompany}</h1>
            </div>

            <!-- Cuerpo -->
            <div class="email-body">
                <p>Hola.</p>
                <p>Tu cuenta ha sido registrada en el Sistema de <strong>{SenderSystem}</strong>.</p>
                <p>Haz clic en el siguiente botón para establecer la contraseña de tu usuario:<strong>{Username}</strong></p>

                <!-- Botón de Confirmación -->
                <div class="confirm-button">
                    <a href="{RecoveryUrl}">ESTABLECER CONTRASEÑA AQUÍ</a>
                </div>

                <p>El enlace del botón expira en <strong>{TokenExpiration} horas</strong>.</p>
            </div>

            <!-- Pie de Página -->
            <div class="email-footer">
                <p><strong>Nota importante:</strong> Si el enlace ha expirado, solicita uno nuevo en nuestro portal. Si no solicitaste esta acción, ignora este mensaje.</p>
                <p>Este es un correo automático, por favor no respondas.</p>
            </div>
        </div>

    </div>

</body>
</html>
