<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denegación de Gestión</title>
    <style>
        /* aqui se injecta el css */
        /* {{EmailStyles}} */
    </style>
</head>
<body>

    <!-- Contenedor Principal del Correo -->
    <div class="email-container">

        <!-- Contenido del Correo -->
        <div class="email-content">

            <!-- Encabezado -->
            <div class="email-header">
                <h1>{SenderCompany}</h1>
            </div>

            <!-- Cuerpo -->
            <div class="email-body">
                <p>Hola.</p>
                <p>Tu solicitud <strong>{ProcessId}</strong> para la adhesión al Sistema de <strong>{SenderSystem}</strong> ha sido denegada.</p>
                <p><strong>Motivo:</strong> <em>{RejectionDesc}</em></p>
                <p>Por favor, revisa los requisitos y realiza una nueva solicitud con las correcciones necesarias.</p>
            </div>

            <!-- Pie de Página -->
            <div class="email-footer">
                <p>Este es un correo automático, por favor no respondas.</p>
            </div>
        </div>

    </div>

</body>
</html>
